@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');


$color-texts: #FAFAFF;
$color-links: #715AFF;
$shadow-color: rgba(0, 0, 0, 0.103);



a{
    text-decoration: none;
    color: $color-texts;
    transition-duration: 350ms;
    transition-timing-function: ease-in-out;
}


a:hover{
    text-decoration: none;
    color:$color-links;
    transition-duration: 350ms;
    transition-timing-function: ease-in-out;
}


a.Paytm-link{
    text-decoration: none;
    font-weight: 600;
    color:$color-texts;
    transition-duration: 350ms;
    transition-timing-function: ease-in-out;
}


a.Paytm-link:hover {
    text-decoration: none;
    font-weight: 600;
    color: $color-links;
    transition-duration: 350ms;
    transition-timing-function: ease-in-out;

}

    

body 
{
    display: flex;
    flex-direction: column;
    font-family: "Work Sans", -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif !important;
    background-color: #030204;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
}


.button {
    background-color:#715AFF;
    border: 1px #715AFF;
    border-style: solid;
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 350ms;
    transition-timing-function: ease-in-out;
    }

.button:hover {
    background-color: #FAFAFF;
    border: 1px #715AFF;
    border-style: solid;
    padding: 8px 24px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 350ms;
    transition-timing-function: ease-in-out;
}


@media only screen and (max-width: 600px) {
    .container {max-width: 60rem;}
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .container {max-width: 60rem;}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .container {max-width: 60rem;}
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .container {max-width: 60rem;}
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .container {max-width: 60rem;}
  }

  .container{
      margin: 0 auto;
      padding: 1rem 1rem;
  }

.main-title {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color:$color-texts;
    font-weight: 600;
}


.nav-styles
{
    display: flex;
    flex-wrap: wrap;
    width: 290px;
    justify-content: space-between;
    align-items: center;
    
    h3
    {
        font-size: 16px;
        font-weight: 600;
        color: $color-texts;
    }
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}


.right-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:24%;
}

.header {
   padding-top: 6%;
   width: 100%;
   margin: 0 0;
    .text {

        h1 {
        font-size: 5rem;
        background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: $color-texts;
        line-height: 0.8em;
        text-transform: uppercase;
        }
    }
    .data {
        width: auto;
        margin-bottom: 160px;
        h2{
        font-size: 1.125rem;
        line-height: 200%;
        font-weight: 400;
        color: $color-texts
    }
        
        }
    }

    .projects-container{
        min-height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
    }

    .projects-main{
        display: flex;
        flex-wrap: nowrap;
    }
    

    .projects-container2{
        margin-top: 24px;
        margin-bottom: 24px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
    }
    
    .projects-hzn{
        display: flex;
        flex-wrap: nowrap;
    }

    

    .footer {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h4{
            font-size: 16px;
            font-weight: 400;
            color: $color-texts;
        }
    }

    